@media screen and (max-width: 1960px) {
  .content-layout {
    height: 92rem; }
    .content-layout--first {
      height: 78.4rem; } }

@media screen and (max-width: 1812px) {
  .content-layout {
    height: 83rem; }
    .content-layout--first {
      height: 74.4rem; } }

@media screen and (max-width: 1730px) {
  .content-layout {
    height: 77.6rem; }
    .content-layout--first {
      height: 65.4rem; } }

@media screen and (max-width: 1700px) {
  .content-layout {
    height: 76.6rem; }
    .content-layout--first {
      height: 65.4rem; } }

@media screen and (max-width: 1600px) {
  .content-layout {
    height: 71.6rem; }
    .content-layout--first {
      height: 65.4rem; } }

@media screen and (max-width: 1540px) {
  .content-layout {
    height: 69.6rem; }
    .content-layout--first {
      height: 58rem; }
  .gallery--item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 18rem;
        -ms-flex: 1 1 18rem;
            flex: 1 1 18rem;
    margin: .1rem 1rem .5rem -.5rem; } }

@media screen and (max-width: 1460px) {
  .content-layout {
    height: 63.6rem; }
    .content-layout--first {
      height: 58rem; }
  .title {
    line-height: 5.4rem; }
  .title-big {
    font-size: 8.7rem; }
    .title-big--layout {
      width: 33rem; }
  .title-large {
    font-size: 7.8rem;
    letter-spacing: 0; }
  .title-medium {
    font-size: 6rem; }
  .title-middle {
    font-size: 5.4rem;
    line-height: 5.7rem; }
    .title-middle--layout {
      width: 25.5rem;
      padding-top: 5.6rem; }
  .title-small {
    font-size: 3.9rem;
    line-height: 5.2rem; }
    .title-small--layout {
      top: 38.5%; }
  .title-little {
    font-size: 4.9rem; }
  .column--right {
    padding: 2.7rem 2rem 3rem 2.8rem; }
  .column--right-fourth:after {
    left: -14.5rem;
    top: 32%; }
  .icon--circle {
    width: 11rem;
    height: 8.1rem; }
  .icon--instagram {
    background-size: 85%;
    left: .35rem;
    bottom: .2rem; }
    .icon--instagram:hover:after {
      top: 2.1rem;
      left: 1.7rem; }
    .icon--instagram:hover:before {
      top: 6px;
      right: 13px; }
    .icon--instagram:hover .lens {
      top: 18px;
      left: 15px; }
    .icon--instagram:hover .flash {
      top: 8px;
      left: 8px; }
      .icon--instagram:hover .flash:after {
        left: -4px; }
  .icon--hearth {
    background-size: 89%;
    margin: .3rem auto;
    left: .7rem; }
  .icon--prize {
    background: url(../img/prize.png) no-repeat 0.3rem top;
    background-size: 84%;
    left: .2rem; }
  .icon--facebook-layout {
    width: 8.8rem;
    height: 7rem;
    left: 3.5rem;
    top: 4.6rem; }
  .icon--facebook-inner {
    width: 5.4rem;
    height: 5.4rem;
    top: .2rem; }
  .icon--vk-layout {
    width: 9.9rem;
    height: 9.7rem;
    left: 3.2rem; }
  .icon--vk-inner {
    width: 5.5rem;
    height: 5.5rem; }
  .icon--inst-layout {
    width: 7.6rem;
    height: 7.6rem;
    top: 7rem;
    right: .3rem; }
  .icon--inst-inner {
    width: 3.5rem;
    height: 3.5rem;
    top: 2.25rem;
    right: .2rem; }
  .icon--youtube-footer {
    width: 3.3rem;
    height: 3.3rem;
    bottom: .7rem; }
  .slide-icon {
    width: 13rem;
    margin: 0 2.2rem 0 .8rem; }
    .slide-icon:nth-of-type(3) {
      margin: 0 0 0 1.2rem; }
    .slide-icon--item {
      font-size: 1.6rem;
      margin: 14% 0 0 1%; }
  .slide-icons--second-page {
    top: 4.3rem;
    left: 2.3rem; }
  .animation--circle {
    top: .4rem;
    left: 0.2rem; }
  .arrow {
    top: 18.4rem;
    left: 16rem; }
    .arrow:before {
      height: 2.9rem;
      width: 2.9rem; }
    .arrow:after {
      height: 5.1rem; }
  .button {
    width: 21.5rem;
    height: 1.5rem;
    font-size: 2.2rem; }
  .about--layout {
    padding: 0 0 8.5% 49%; }
  .about--item:after {
    right: -9.4rem;
    top: 27.8%; }
  .slide-information {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin: 3.35rem 0 0 4rem; }
  .location {
    top: 6.6rem;
    padding-bottom: 4rem;
    background-size: 89.4%; }
  .footer {
    height: 9rem; }
  .logo--footer {
    width: 5.86rem;
    height: 5rem;
    left: -.65rem;
    top: -.25rem; }
  .copyright {
    font-size: 1.1rem;
    margin: 5% 0 0; }
  .social {
    height: 3.5rem;
    width: 9rem;
    padding: 3.55rem 0 2rem; }
    .social--planet:before {
      top: 26%;
      left: 23%; } }

@media screen and (max-width: 1390px) {
  .content-layout {
    height: 63.6rem; }
    .content-layout--first {
      height: 54.4rem; }
  .gallery--item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 14rem;
        -ms-flex: 1 1 14rem;
            flex: 1 1 14rem; } }

@media screen and (max-width: 1320px) {
  .content-layout {
    height: 60.8rem; }
    .content-layout--first {
      height: 51.4rem; } }

@media screen and (max-width: 1250px) {
  .content-layout {
    height: 57rem; }
    .content-layout--first {
      height: 48.4rem; }
  .main-slide {
    padding: 4% 0 0 4.6%; }
  .title {
    line-height: 4.4rem; }
  .title-big {
    font-size: 6.7rem; }
    .title-big--layout {
      width: 21rem; }
  .title-large {
    font-size: 5.8rem; }
  .title-middle {
    font-size: 4.5rem;
    line-height: 4.5rem; }
  .title-small {
    font-size: 3.5rem;
    line-height: 4.2rem; }
    .title-small--layout {
      width: 23rem; }
  .title-little {
    font-size: 2.9rem; }
  .icon--circle {
    width: 10rem;
    height: 7.1rem; }
  .icon--instagram:hover:before {
    top: 7px;
    right: 14px; }
  .icon--hearth {
    background-size: 86%;
    margin: 0 auto;
    left: .5rem; }
  .icon--prize {
    background-size: 74%;
    left: .5rem; }
  .icon--facebook-layout {
    width: 7.8rem;
    height: 5.8rem; }
  .icon--facebook-inner {
    width: 4.4rem;
    height: 4.4rem; }
  .icon--vk-layout {
    width: 8.7rem;
    height: 8.7rem; }
  .icon-vk-inner {
    width: 4.5rem;
    height: 4.5rem; }
  .icon--inst-layout {
    width: 6.6rem;
    height: 6.6rem; }
  .icon--inst-inner {
    width: 2.5rem;
    height: 2.5rem; }
  .arrow:before {
    height: 2.5rem;
    width: 2.5rem; }
  .arrow:after {
    height: 4rem;
    width: .4rem;
    left: 1rem; }
  .button {
    width: 18.5rem;
    height: 2rem;
    font-size: 1.8rem;
    padding: 1.8rem 0; }
  .location {
    height: 33rem; } }

@media screen and (max-width: 1170px) {
  .content-layout {
    height: 53rem; }
    .content-layout--first {
      height: 44.4rem; }
  .title {
    line-height: 3.4rem; }
  .arrow {
    top: 16.4rem; }
  .about {
    margin: 7.7% 11.6% 0 6.66%; }
  .location {
    height: 30rem; } }

@media screen and (max-width: 1115px) {
  .content-layout {
    height: 50rem; }
    .content-layout--first {
      height: 42.4rem; }
    .content-layout .main-slide {
      background-size: cover; }
  .gallery--item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 11rem;
        -ms-flex: 1 1 11rem;
            flex: 1 1 11rem; }
  .title-big--layout {
    bottom: 3%; }
  .button--red {
    bottom: 7%; }
  .button--fourth {
    bottom: 2.3%; }
  .footer-item {
    width: 30rem; }
    .footer-item--right {
      width: 36.5rem; } }

@media screen and (max-width: 1024px) {
  html {
    font-size: 8px; }
  .header-layout {
    width: 11rem; }
  .header-logo {
    padding: 2.4rem 0 0 .5rem; }
  .wrapper--layout {
    left: 11rem; }
  .content-layout {
    height: 59rem; }
    .content-layout--first {
      height: 49.4rem; }
  .main-slide {
    background-size: cover; }
  .title-big--layout {
    bottom: 12%; }
  .icon {
    height: 100%;
    margin: 0 auto; }
    .icon--box, .icon--insta, .icon--map {
      width: 52%;
      height: 100%; }
    .icon--box {
      background-position-x: 0;
      background-position-y: -.4rem; }
    .icon--map {
      width: 6.5rem;
      background-position-x: 0;
      background-position-y: 0; }
  .gallery--item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 14rem;
        -ms-flex: 1 1 14rem;
            flex: 1 1 14rem; }
  .location {
    height: 35rem; }
  .social--planet:before {
    background-size: 100%; } }

@media screen and (max-width: 980px) {
  .content-layout {
    height: 55.2rem; }
    .content-layout--first {
      height: 50rem; }
  .icon--facebook-layout {
    width: 5.8rem;
    height: 3.8rem;
    left: 4rem;
    top: 2.6rem; }
  .icon--facebook-inner {
    width: 3.4rem;
    height: 3.4rem;
    top: -.3rem; }
  .icon--vk-layout {
    width: 7.7rem;
    height: 7.7rem; }
  .icon--vk-inner {
    width: 4.5rem;
    height: 4.5rem;
    padding: 21% 0 0; }
  .icon--inst-layout {
    width: 5.6rem;
    height: 5.6rem;
    top: 6rem;
    right: 0; }
  .icon--inst-inner {
    right: 0;
    top: 1.5rem; }
  .arrow {
    left: 12rem; }
  .footer {
    height: 7rem; }
  .footer-item--left {
    padding: 1.3rem 3.25rem 0; }
  .logo--footer {
    margin: 0; }
  .social {
    width: 8rem;
    padding: 2.55rem 0 1rem; }
    .social--planet:before {
      background-size: 96%;
      top: 20%;
      left: 20%; } }

@media screen and (max-width: 870px) {
  .content-layout .main-slide {
    background-position-x: 75%; }
  .icon--instagram:after {
    top: 2.1rem;
    left: 1.9rem; }
  .gallery--item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 11rem;
        -ms-flex: 1 1 11rem;
            flex: 1 1 11rem; } }

@media screen and (max-width: 770px) {
  .about--layout {
    padding: 0 0 8.5% 37%;
    background-size: 36%; } }

@media screen and (max-width: 730px) {
  .gallery--item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 10rem;
        -ms-flex: 1 1 10rem;
            flex: 1 1 10rem; } }

@media screen and (min-width: 681px) and (max-width: 1960px) {
  .menu .animated--left, .menu .animated--right {
    -webkit-animation: none;
            animation: none; } }

@media screen and (max-width: 680px) {
  html {
    font-size: 10px; }
  .wrapper {
    background-color: #fff; }
    .wrapper--layout {
      top: 16rem;
      left: 0; }
  .menu {
    display: none; }
  .menu-item {
    font-size: 2.4rem;
    display: inline-block;
    margin: 2% 15% 0 0; }
  .menu-item-layout {
    background-color: #f6f6f6;
    border-top: 1px solid #ddd; }
    .menu-item-layout:last-of-type {
      display: block;
      background-color: #f0eded; }
  .close-item {
    color: #8e8d8d;
    text-shadow: 1px 2px 2px #fff;
    text-transform: uppercase;
    margin: 2% 0 0; }
  .main-slide {
    background: url(../img/background_mobile.jpg) no-repeat;
    height: 73.9%;
    padding: 44.4% 0 0 3.5%; }
  .content-layout {
    height: 100%; }
    .content-layout--first {
      height: 1114px; }
    .content-layout:last-of-type {
      margin-top: -4rem; }
  .header-layout__mobile {
    height: 10rem;
    width: 100%;
    padding: 3rem 0;
    z-index: 3; }
  .header-logo__mobile {
    padding: 0 4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header-menu {
    margin: 0;
    top: 16rem; }
  .logo {
    width: 112px;
    height: 96px;
    margin: 0;
    left: -2px;
    top: 1px; }
    .logo--footer {
      display: none; }
  .logo-item {
    font-size: 3.99rem;
    margin: 2.5rem 0 0 1rem; }
  .slide-icons--first-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .slide-icon {
    width: 21rem;
    margin: .5rem 0 0; }
    .slide-icon:nth-of-type(2) {
      width: 15rem; }
    .slide-icon:nth-of-type(3) {
      margin: .4rem 6% 0 0; }
    .slide-icon--item {
      font-size: 2.6rem;
      line-height: 2.8rem;
      margin: 11% 0 0 1%; }
    .slide-icon__margin {
      margin: 15% 0 0 13%; }
  #show-menu {
    position: relative;
    width: 10rem; }
  .icon__mobile {
    width: 9%;
    float: left;
    margin-left: 9%; }
  .icon--menu {
    width: 10rem;
    height: 10rem;
    display: block; }
  .icon--menu path, .icon--close path {
    fill: #ef2a34; }
  .icon--close {
    width: 10rem;
    height: 5rem;
    position: absolute;
    top: 3rem;
    right: 0; }
  .icon--circle {
    width: 13rem;
    height: 10rem; }
  .icon--item {
    margin: 11% 0 0 0; }
  .icon--hearth {
    top: 1.2rem; }
  .icon--hearth, .icon--prize {
    left: 0;
    background-size: 95%; }
  .icon--prize {
    top: 0; }
  .icon--instagram {
    background-size: 96%;
    top: 4px; }
    .icon--instagram:hover:before {
      top: 8px;
      right: 10px; }
    .icon--instagram:hover:after {
      top: 2.6rem;
      left: 2.2rem; }
    .icon--instagram:hover .lens {
      top: 23px;
      left: 20px; }
    .icon--instagram:hover .flash {
      top: 10px;
      left: 9px; }
  .icon--facebook-layout {
    display: none; }
  .icon--vk-layout {
    width: 11.7rem;
    height: 11.7rem;
    top: 3.5rem;
    left: 4.5rem;
    -webkit-transform: rotate(-27deg);
        -ms-transform: rotate(-27deg);
            transform: rotate(-27deg); }
  .icon--vk-inner {
    width: 6.5rem;
    height: 6.5rem;
    padding: 23% 0 0; }
  .icon--inst-layout {
    width: 9rem;
    height: 9rem;
    top: 4.7rem;
    right: -5.6rem;
    -webkit-transform: rotate(22deg);
        -ms-transform: rotate(22deg);
            transform: rotate(22deg); }
  .icon--inst-inner {
    width: 4.4rem;
    height: 4.4rem;
    right: 0;
    top: 2.3rem; }
  .icon--youtube-footer {
    bottom: 0; }
  .icon--vk-footer {
    width: 3rem;
    height: 3rem;
    bottom: 0;
    right: 4px; }
  .icon--facebook-footer {
    width: 2.6rem;
    height: 2.6rem;
    top: 5px;
    right: 1px; }
  .animation--circle {
    top: .4rem;
    left: .1rem; }
  .animation-3d__background {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .title {
    line-height: 5rem; }
  .title-big--layout {
    font-size: 8.78rem;
    width: 30rem;
    height: 19rem;
    top: 6rem;
    left: 30%; }
  .title-large {
    font-size: 7.8rem; }
  .title-medium {
    margin-left: 1rem; }
  .title-middle {
    width: 100%;
    font-size: 5.7rem;
    line-height: 6.1rem;
    padding: 6% 0 0 5%; }
  .title-little {
    font-size: 4.94rem; }
  .title-small {
    font-size: 4.1rem;
    line-height: 5.4rem; }
    .title-small--layout {
      top: 46.5%;
      left: 7rem; }
  .column {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    height: 640px; }
    .column--left-second {
      background: url(../img/slide_girl_background.png) no-repeat;
      background-size: 100%; }
    .column--left-third {
      background: url(../img/lays-prize-moblie.png) no-repeat;
      top: 2.5rem;
      background-size: 100%; }
    .column--left-people {
      height: 678px;
      top: 5px;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      z-index: 2; }
    .column--left-fourth {
      background: url(../img/people-moblie.png) no-repeat;
      -webkit-animation: none;
              animation: none;
      background-size: 100%; }
    .column--right {
      height: 590px;
      padding: 2.4rem 3.1rem 0 3.1rem; }
    .column--right-third {
      height: 667px;
      bottom: 18px;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
      .column--right-third__background {
        -webkit-animation: none;
                animation: none; }
    .column--right-fourth {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      top: 3rem; }
    .column .animated--right {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      z-index: 2; }
  .button {
    width: 21.5rem;
    height: 2rem;
    font-size: 2.21rem;
    left: 56%;
    bottom: 18.8%; }
    .button--red {
      left: 33%;
      bottom: 15.3%; }
    .button--fourth {
      bottom: 13.6%;
      left: 34.5%; }
  .arrow {
    left: 16rem;
    top: 21.6rem; }
    .arrow:before {
      height: 3.5rem;
      width: 3.5rem; }
    .arrow:after {
      height: 6rem;
      width: .4rem;
      left: 1.5rem; }
  .gallery--item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 17rem;
        -ms-flex: 1 1 17rem;
            flex: 1 1 17rem;
    margin: .3rem 1rem .4rem -.4rem; }
  .about {
    margin: 7.7% 9% 0 6.66%; }
    .about--layout {
      padding: 0  0 17.5% 0;
      height: 29rem;
      background-size: 38%;
      background-position-x: 327px;
      background-position-y: 138px; }
  .slide-information {
    width: 28rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
    position: relative;
    bottom: 18rem;
    left: 2.5rem;
    margin: 0; }
  .location {
    height: 35rem;
    background-size: 87%;
    top: 5.9rem;
    left: 5px;
    padding-bottom: 5rem; }
  .footer {
    height: 8.5rem; }
  .footer-item {
    width: 24rem; }
    .footer-item--left {
      padding: 1.3rem 0 0; }
    .footer-item--right {
      width: 58%; }
  .copyright {
    font-size: 1.6rem;
    margin: 6.5% 0 0 25%; }
    .copyright--item {
      display: none; }
  .social {
    height: 3.5rem;
    width: 9rem;
    padding: 2.55rem 0 2.5rem; }
    .social--youtube {
      width: 8.9rem; }
    .social--planet:before {
      background-size: 103%; } }

@media screen and (max-width: 590px) {
  html {
    font-size: 8px; }
  .main-slide {
    height: 76.5%; }
  .column {
    background-position-x: right;
    background-position-y: top; }
    .column--right {
      height: 510px; }
    .column--right-fourth {
      top: 4rem; }
    .column--left-third {
      top: 3.5rem; }
  .about--layout {
    background-position-x: 227px;
    background-position-y: 96px; }
  .location {
    padding-top: 14rem; }
  .social {
    padding: 2.55rem 0 2.4rem; } }

@media screen and (max-width: 504px) {
  .content-layout--first {
    height: 872px; }
  .content-layout .main-slide {
    background-size: contain; }
  .logo {
    width: 91px; }
  .icon__mobile {
    width: 11%; }
  .footer-item--left {
    width: 40%; } }

@media screen and (max-width: 485px) {
  .content-layout--first {
    height: 830px; }
  .column--right {
    height: 440px; }
  .column--right-third__background, .column--left-fourth {
    background-position-x: 50%; }
  .gallery--item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 13rem;
        -ms-flex: 1 1 13rem;
            flex: 1 1 13rem; }
  .footer-item--right {
    width: 60%; }
  .social {
    width: 24%; } }

@media screen and (max-width: 455px) {
  html {
    font-size: 6px; }
  .content-layout--first {
    height: 780px; }
  .gallery--item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 20rem;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem; } }

@media screen and (min-width: 400px) and (max-width: 455px) {
  .content-layout--first {
    height: 714px; }
  .content-layout:last-of-type {
    margin-top: -6rem; }
  .column {
    height: 414px; }
  .gallery--item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 20rem;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem; }
  .location {
    padding-top: 7rem; } }

@media screen and (min-width: 356px) and (max-width: 400px) {
  html {
    font-size: 5px; }
  .content-layout--first {
    height: 643px; }
  .column {
    height: 375px; } }

@media screen and (min-width: 320px) and (max-width: 355px) {
  html {
    font-size: 4px; }
  .content-layout--first {
    height: 550px; }
  .content-layout .main-slide {
    background-size: 100%; }
  .column {
    height: 320px; }
    .column--right-fourth {
      top: 0; }
    .column--left-fourth {
      top: -8rem;
      height: 347px; } }

@media screen and (min-width: 320px) and (max-width: 400px) {
  .gallery--item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 22rem;
        -ms-flex: 1 1 22rem;
            flex: 1 1 22rem; } }

@media screen and (min-width: 320px) and (max-width: 455px) {
  .column {
    background-size: cover; }
    .column--left-fourth {
      background-size: cover;
      position: relative; }
  .logo {
    width: 11.4rem;
    height: 11.4rem; }
  .about--layout {
    background-position-x: 93%;
    background-position-y: 98%;
    height: 32rem; }
  .icon__mobile {
    background-size: 60%; }
  .icon--instagram:after {
    top: 10px;
    left: 9px; }
  .icon--instagram:hover:before {
    top: 4px;
    right: 4px; }
  .icon--instagram:hover .lens {
    top: 10px;
    left: 8px; }
    .icon--instagram:hover .lens:before {
      top: 2px;
      left: 5px; }
    .icon--instagram:hover .lens:after {
      left: 0;
      top: 0; }
  .icon--instagram:hover .flash {
    top: 4px;
    left: 4px; }
    .icon--instagram:hover .flash:after {
      left: 0;
      top: 0; } }
